triggers:
  only_upside: false
  max_triggers_per_cycle: 5
  regime_thresholds:
    chop:
      pct_change_15m: 1.3
      pct_change_60m: 2.7
      volume_ratio_1h: 1.8
      atr_filter_min_mult: 1.05
    bull:
      pct_change_15m: 3.5
      pct_change_60m: 7.0
      volume_ratio_1h: 2.0
      atr_filter_min_mult: 1.2
    bear:
      pct_change_15m: 3.0
      pct_change_60m: 7.0
      volume_ratio_1h: 2.0
      atr_filter_min_mult: 1.2
  reversal_confirm:
    close_above_vwap_5m: true
    higher_low_vs_prev: true
    rsi_cross_up_50: true
    min_bounce_from_low_pct: 0.6
  trend_filter:
    enabled: true
    ema_period_hours: 21
    slope_lookback_hours: 3
    min_slope_pct_per_hour: 0.05
  mean_reversion:
    enabled: true
    zscore_max: -1.2
    lookback_hours: 24
    min_liquidity_tier: T1
    stop_atr: 1.2
    take_profit_atr: 1.8
  volume_spike_min_ratio: 1.5
  volume_lookback_periods: 24
  breakout_lookback_bars: 24
  breakout_threshold_pct: 2.0
  min_trigger_score: 0.2
  min_trigger_confidence: 0.5
  regime_multipliers:
    bull: 1.2
    chop: 1.0
    bear: 0.8
    crash: 0.0
